.table-striped{
    background-color:lightblue;
}
th{
    text-align: right;
}
.table{
    width: 100%;
}
.center {
    margin: 0 auto;
    width: 80%;
}
.glyphicon-center {
    padding-right: 100px;
}
.glyphicon-right {
    padding-right: 0px;
}
.glyphicon-left {
    padding-right: 60px;
}
.form-group.required .control-label:before {
  content:"*";
  color:red;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: black;
    color: white;
}
.mergedTitle {
    text-align: center;
    background-color: #45a9e8;
    color: white;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    color: white;
    font-weight: bold;
}
.nav > li {
    position: relative;
    display: block;
    color: white;
    font-weight: bold;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    background-color: #3498db;
    border: 3px;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #3cb0fd;
    color: white;
    font-weight: bold;
}
.nav-tabs {
    border-bottom: 3px solid #ddd;
    color: white;
    font-weight: bold;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -3px;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 5px 5px 0 0;
}
.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
    color: white;
    font-weight: bold;
}
.nav-tabs > li.active > a {
    color: black;
    font-weight: bold;
    cursor: default;
    border: 3px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs > li.active > a:hover {
    color: black;
    font-weight: bold;
    cursor: default;
    border: 3px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs > li.active > a:focus {
    color: black;
    font-weight: bold;
    cursor: default;
    border: 3px solid #ddd;
    border-bottom-color: transparent;
}

.highlight {
    color: green;
    background: yellow;
}

