.table-striped{
    background-color:lightblue;
}
th{
    text-align: right;
}
.table{
    width: auto;
}
.center {
    margin: 0 auto;
    width: 80%;
}
.glyphicon {
    padding-right: 100px;
}